<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes Venda</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.1/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="/styles/listar.css">
</head>

<body>
    <header>
        <h1 id="titlePage"></h1>
        <h2>Veja aqui os itens comprados</h2>
    </header>

    <main>
        <section class="tabela-container">
            <table id="tabela" class="display">
                <thead>
                    <tr>
                        <th>Código Produto</th>
                        <th>Nome Produto</th>
                        <th>Valor Unitário</th>
                        <th>Quantidade</th>
                    </tr>
                </thead>
            </table>
        </section>

        <div class="button-group">
            <button onclick="window.location.href='/listar-vendas'">Voltar</button>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 Raffi Estoque</p>
    </footer>
</body>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="http://cdn.datatables.net/2.3.1/js/dataTables.min.js"></script>
<script>
    let table = new DataTable('#tabela', {
        language: {
            decimal: ",",
            thousands: ".",
            search: "Buscar:",
            lengthMenu: "Mostrar _MENU_ registros por página",
            zeroRecords: "Nenhum produto encontrado",
            info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
            infoEmpty: "Nenhum registro disponível",
            infoFiltered: "(filtrado de _MAX_ registros no total)",
            paginate: {
                first: "Primeira",
                last: "Última",
                next: "Próxima",
                previous: "Anterior"
            },
            emptyTable: "Nenhuma venda cadastrada"
        }
    });

    window.onload = () => {
        const urlParams = new URLSearchParams(window.location.search);
        const codVenda = urlParams.get('codVenda');

        document.getElementById('titlePage').textContent = `Detalhes da Venda #${codVenda}`;

        fetch(`/vendas/listar-itens-vendas-backend/${codVenda}`)
            .then(res => res.json())
            .then(async data => {
                if (data && Array.isArray(data)) {
                    const table = $('#tabela').DataTable();

                    for (const itens of data) {
                        const row = [
                            itens.codProduto || '',
                            itens.nomeProduto || '',
                            itens.valorUnitario || '',
                            itens.quantidade ||'',
                        ];

                        const newRow = table.row.add(row).draw().node();

                        const headers = [
                            'Código Produto', 'Nome Produto', 'Valor Unitário', 'Quantidade'
                        ];

                        $(newRow).find('td').each(function (index) {
                            $(this).attr('data-label', headers[index]);
                        });
                    }
                } else {
                    console.error('Erro ao buscar itens:', data.error || 'Resposta inesperada');
                }
            })
            .catch(error => {
                console.error('Erro de requisição:', error);
            });
    };

</script>

</html>